{% extends '@BionicUniversityProject/Admin/index.html.twig' %}

{% form_theme form 'BionicUniversityUserBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>User creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">назад к списку польхователей</a>
        </li>
    </ul>
{% endblock %}
