{% extends '@BionicUniversityProject/Admin/index.html.twig' %}

{% block content %}
    <h1>Список услуг</h1>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('service_edit', { 'id': entity.id }) }}">редактировать</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('service_new') }}">
                добавить новую услугу
            </a>
        </li>
    </ul>
    {% endblock %}
