{% extends '@BionicUniversityProject/Admin/index.html.twig' %}

{% form_theme form 'BionicUniversityUserBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Новая услуга</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('service') }}">
                назад к списку
            </a>
        </li>
    </ul>
{% endblock %}
