{% extends '@BionicUniversityProject/Admin/index.html.twig' %}

{% form_theme form 'BionicUniversityUserBundle:Form:fields.html.twig' %}

{% block content %}

    <h1>Создать новую роль</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('role') }}">
                назад к списку ролей
            </a>
        </li>
    </ul>
{% endblock %}
